.frame{
    width: 350px;
    height: 750px;
    border: 8px solid #2595F5;
    overflow: hidden;
    background-image: url("../images/photo.jpg");
    background-size: cover;
    display: flex;
    position: relative;
}

.frame__blur{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.frame__contents{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px 15px;
}

.underbar{
    width: 100%;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underbar .underbar__bar{
    width: 100px;
    height: 100%;
    background-color: #868E96;
}