.overview .overview__title{
    font-size: 10px;
    opacity: 0.5;
    letter-spacing: 0.7px;
    margin: 10px 0px;
}

.overview .overview__contents{
    color: #5B709A;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
}

.overview .overview__read-more{
    font-size: 15px;
    color: #3D66FF;
    font-weight: 600;
}